.info{
    background-image: url('../img/paysageFlou.png');
    height: 300px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    /* filter: blur(4px); */
    /* margin: -5px; */
    /* margin-right: -5px; */
    text-align: center;
    flex-direction: column;
    color: white;


    
}
.bg-image{
    /* background-color: rgb(182, 16, 16); */
    /* height: 50px;
    width: 230px; */
    /* padding-top: 20px; */
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: center; */
    font-family: 'Nunito', sans-serif;
    font-size: 40px;
}
.btn {
    margin: 0px 20px;
}

.strong{
    background-color: #c16ff0;
    /* font-weight: bold; */
    /* font-family: monospace; */
} 

@media only screen and (min-width: 150px) and (max-width: 850px) {
    /*Mobile View */
    .info{
        background-image: url('../img/reseau.png');
        height: 200px;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        /* filter: blur(4px); */
        /* margin: -5px; */
        /* margin-right: -5px; */
        text-align: center;
        flex-direction: column;
        color: white;
    
    
        
    }
    
    .bg-image{
        /* background-color: rgb(182, 16, 16); */
        /* height: 50px;
        width: 230px; */
        /* padding-top: 20px; */
        /* display: flex; */
        /* flex-direction: column; */
        /* justify-content: center; */
        font-family: 'Nunito', sans-serif;
        font-size: 18px;
    }
    
  


  }

  @media only screen and (min-width: 700px) and (max-width: 1024px) {
    /*Mobile View */
    .info{
        background-image: url('../img/reseau.png');
        height: 300px;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        text-align: center;
        flex-direction: column;
        color: white;    
    }
    
    .bg-image{
        font-family: 'Nunito', sans-serif;
        font-size: 35px;
    }

  }